.inputText{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 24px;
}
button.inputText{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #01C26E;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: none;
}
.btnRed{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #de1546;//4986EA;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: none;
}
.result{
  font-weight: bold;
  color: #1C3544;
}
body{
  background-color: #00A9E8;
}
